body {
  background-color: black;
  font-family: 'jura', Arial, sans-serif;
  margin: 0 auto;
  color: white;


}



.section {
  min-height: 300px;
  height: 100vh;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap column;
  margin: 10 auto;
  position: relative;

}
.section-2 {
  position: absolute;
  min-height: 600px;
  width: 100%;
  height: 100vh;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap column;
  margin: 10 auto;
  background-color: white;
  color: black;
  visibility: hidden;


}

.section-2 h2 {
  margin-top: 100px;
}

.uno {
  position: absolute;
  margin-top: 0vh;
  width: 100%;
  display: grid;
  grid-column: 1fr;
  z-index: 1;
  min-height: 600px;
  height: 100vh;
  background-color: white;
  color: black;
  border: 0px;
  visibility: hidden;

}
iframe {
  width:760px;
  height:515px
}


@media screen and (max-width: 992px)  {
  .uno {
    height: 50vh;

  }
  .section-2 {
    height: 50vh;
  }
  iframe {
    width:560px;
    height:315px;
    margin-top: -200px;
  }
}


.uno h1 {
  margin-top: 50px;
  font-size: 36px;
}

img {
  width: 100%;
  height: 100%;
}

canvas {
  z-index: -99;
  min-width: 100%;
}


.nav {
  position: fixed;
  z-index: 200;
}

.nav-item {
  font-size: 1.5em;
  margin: 10px;
  text-decoration: none;

}

canvas {
  position: fixed;
}

h1 {

  font-size: 5em;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}
h2 {

  font-size: 3em;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 60px;
}

.btns {
  margin-top: 20px;
  display: flex;
  justify-content: center;

}

.btn {
  font-size: 2em;
  padding: 10px 20px;
  border-color:rgb(102,51,102);
  color: black;
}

.btn:hover {
  background-color: rgb(102,51,102);
}

.box {
  color: black;
  text-align: center;
  border: solid 3px black;
  padding: 20px;
  margin-top: 50px;


}
.box h3 {
  margin-bottom: 30px;
}

#ankoria-head {
  position: fixed;
  z-index: 0;
  -webkit-transition: visibility 800ms ease-in-out;
    -moz-transition: visibility 800ms ease-in-out;
    -ms-transition: visibility 800ms ease-in-out;
    -o-transition: visibility 800ms ease-in-out;
    transition: visibility 800ms ease-in-out;
}

.blink h2 {
  animation: blinkingText 2s ease-in-out infinite;

}

.blink h2:hover {
  cursor: pointer;
}

@keyframes blinkingText {

  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }

}

.click {
  height: 100px;
  margin-left: -10px;

  text-align: center;
  opacity: 0;
  animation: clickMe 6s ease-in-out forwards;
}

@keyframes clickMe {

  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }

}

.click i {
  font-size: 50px;

  animation: arrowUp 2s ease-in-out infinite;
  margin-left: -15px;
  margin-top: -30px;
  position: absolute;
}

@keyframes arrowUp {

  0% {
    opacity: 0.6;
    margin-top: -50px;
  }
  25% {
    opacity: 0.4
  }
  50% {
    opacity: 0.6;
    margin-top: -40px;
  }
  75% {
    opacity: 0.4
  }
  100% {
    opacity: 0.6;
    margin-top: -50px;
  }

}

.visible {
  visibility: visible;
  position: relative;
  margin-top: -100vh;

}
.visible-2 {
  visibility: visible;
  position: relative;
}

.absolute {
  visibility: hidden;

}

.logo {
  position: fixed;
  top: 0;
  left: 0;
  margin-top: -20px;
  margin-left: -20px;
  z-index: 998;
}

.logo a {
  display: block;

  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.slideInUp {
  visibility: visible;
}

.animated {
  -webkit-animation-duration: 1200ms;
  animation-duration: 1200ms;
}
