html {
  box-sizing: border-box;
}
@font-face {
  font-family: "Sequel-100";
  src: url("fonts/OGJ Type Design - Sequel 100 Wide 95 Wide.otf")format("opentype")
}

body {

  margin: 0px;
  overflow: hidden;
  background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    background-color: black;
    color: white;
    font-family: "Sequel-100"
}



#logolink2 {
  display: none
}
#info {
  visibility: hidden;
  position: absolute;

}
.dg {
  visibility: hidden;

}

canvas {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;

}

#menu {
  top: 1px;
}
#overlay {
  height: 100%;
  width: 100%;
  background: black;
  position: fixed;
  z-index: 100;
  left:0;
  top: 0;
  display: flex;
  opacity: 1;
  justify-content: center;
  align-items: center;
    transition: opacity 200ms ease-in-out;
}
#loader {
  text-align: center;
}
#loader a {
  margin-top: 5%;
  text-decoration: none;
  color: white;
}
input {
  display: none;
}

/* start of desktop styles */
.zoom-container {
  width: 100%;
  position:absolute;
  display: none;
  justify-content: center;
  bottom: 20px;
  text-align: center;
  z-index: 200;
}
.zoom-container h2 {
  animation: blinker 3s linear infinite;
}
.phone-bar-container {
  display: none
}

@keyframes blinker {
  50% {
    opacity: 0.2;
  }
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
  width: 100%;
  height: 100%;
}

.nav {
  height: 500px;
  position: relative;
  z-index: 5;
  color: white;
}
.nav a{
  color: white;
  text-decoration: none;
  font-size: 36px;
  padding: 0 5px;
}
/* .nav li a:hover{
  background-color: #a878b9;

} */
.nav-list {

  margin: 0 0 20px 0;
  list-style: none;
  line-height: 3rem;
}


#logo {
  width: 100%;
  height: auto;
}
#logo2{
  display: hidden;
}

.socials-grid {
  width: 60%;

  display: grid;
  grid-template-columns: repeat(3 ,1fr);
  grid-gap: 5px;
  margin-top: 10px;
}


.grid-item img {
  width: 40px;
  height: 40px;
}

#maingrid{
  display:  flex;
}
#subgrid{
  display: none;
}

@media screen and (max-width: 991px) {
     /* start of large tablet styles */
     .wrapper {
       display: grid;
       grid-template-columns: 1fr 4fr;
       width: 100%;
       height: 100%;
     }

     .nav {
       height: 500px;

       color: white;
     }
     .nav a{
       color: white;
       text-decoration: none;
       font-size: 28px;
     }
     .nav-list {

       margin: 0 0 20px 0;
       list-style: none;
       line-height: 3rem;
     }


     #logo {
       width: 100%;
       height: auto;
     }

     .socials-grid {
       width: 60%;

       display: grid;
       grid-template-columns: repeat(3 ,1fr);
       grid-gap: 5px;
     }


     .grid-item img {
       width: 30px;
       height: 30px;
     }


@media screen and (max-width: 767px) {
     /* start of medium phone styles */
     .phone-bar-container {
       position:absolute;
       width: 100%;
       height: 4%;
       bottom: 0;
       left: 0;
       display: flex;
       z-index: 500;
       justify-content: center;
     }
     #phone-bar {
       width: 100%;
       height: 100%;
       background: white;
       transform: rotate(0deg)
     }
     .wrapper {
       display: grid;
       grid-template-columns: 1fr 4fr;
       width: 100%;
       height: 100%;
     }
     #logolink1 {
       display: inline;
     }
     #logolink2 {
       display: none;
     }
     #logo {
       width: 50%;
       height: auto;
       position: relative;
       z-index: 5;
     }
     #logo2 {
       width: 50%;
       height: auto;
       position: relative;
       z-index: 5;
     }
     #maingrid{
       display: none;
     }
     #subgrid{
       display:  flex;
     }

     #menuToggle {
       display: block;
       position: relative;
       top: 10px;
       left: 10px;

       z-index: 1;

       -webkit-user-select: none;
       user-select: none;
     }

     #menuToggle input
     {
       display: block;
       width: 40px;
       height: 32px;
       position: absolute;
       top: -7px;
       left: -5px;

       cursor: pointer;

       opacity: 0; /* hide this */
       z-index: 2; /* and place it over the hamburger */

       -webkit-touch-callout: none;
     }
     #menuToggle span
   {
     display: block;
     width: 23px;
     height: 4px;
     margin-bottom: 5px;
     position: relative;

     background: white;
     border-radius: 3px;

     z-index: 1;

     transform-origin: 4px 0px;

     transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                 background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                 opacity 0.55s ease;
   }

   #menuToggle span:first-child
   {
     transform-origin: 0% 0%;
   }

   #menuToggle span:nth-last-child(2)
   {
     transform-origin: 0% 100%;
   }

   /*
    * Transform all the slices of hamburger
    * into a crossmark.
    */
   #menuToggle input:checked ~ span
   {
     opacity: 1;
     transform: rotate(45deg) translate(8px, 0px);
     background: black;
   }


   /*
    * But let's hide the middle one.
    */
   #menuToggle input:checked ~ span:nth-last-child(3)
   {
     opacity: 0;
     transform: rotate(0deg) scale(0.2, 0.2);
   }

   /*
    * Ohyeah and the last one should go the other direction
    */
   #menuToggle input:checked ~ span:nth-last-child(2)
   {
     transform: rotate(-45deg) translate(5px, 5px);
   }

   /*
    * Make this absolute positioned
    * at the top left of the screen
    */
   #menu
   {
     position: absolute;
     width: 250px;
     margin: -100px 0 0 -50px;
     padding: 50px;
     padding-top: 125px;

     background: rgba(255,255,255,0.9);
     list-style-type: none;
     -webkit-font-smoothing: antialiased;
     /* to stop flickering of text in safari */

     transform-origin: 0% 0%;
     transform: translate(-100%, 0);

     transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
   }

   #menu li
   {
     padding: 10px 0;
     font-size: 22px;
   }

   /*
    * And let's slide it in from the left
    */
   #menuToggle input:checked ~ ul
   {
     transform: none;
   }
      .nav {
        height: 500px;
       z-index: 2;
        color: black;
      }
      .nav ul {
        padding: 0 0 0 10px;
      }
      .nav a{
        color: black;
        text-decoration: none;
        font-size: 18px;

      }
      .nav-list {

        margin: 0 0 20px 0;
        list-style: none;
        line-height: 3rem;
      }



      .socials-grid {
        width: 40%;
        margin-left: 10px;
        display: grid;
        grid-template-columns: repeat(3 ,1fr);
        grid-gap: 5px;
      }


      .grid-item img {
        width: 20px;
        height: 20px;
      }


@media screen and (max-width: 479px) {
  .phone-bar-container {
    position:absolute;
    width: 100%;
    height: 4%;
    bottom: 0;
    left: 0;
    display: flex;
    z-index: 500;
    justify-content: center;
  }
  #phone-bar {
    width: 100%;
    height: 100%;
    background: white;
    transform: rotate(0deg)
  }
     /* start of phone styles */
     .wrapper {
       display: grid;
       grid-template-columns: 1fr 9fr;
       width: 100%;
       height: 100%;
     }
     #logolink1 {
       display: inline;
     }
     #logolink2 {
       display: none;
     }
     #logo {
       width: 100%;
       height: auto;
       position: relative;
       z-index: 5;
     }
     #logo2 {
       width: 100%;
       height: auto;
       position: relative;
       z-index: 5;
     }
     #maingrid{
       display: none;
     }
     #subgrid{
       display: flex;
     }
    #menuToggle {
      display: block;
      position: relative;
      top: 10px;
      left: 10px;

      z-index: 1;

      -webkit-user-select: none;
      user-select: none;
    }

    #menuToggle input
    {
      display: block;
      width: 40px;
      height: 32px;
      position: absolute;
      top: -7px;
      left: -5px;

      cursor: pointer;

      opacity: 0; /* hide this */
      z-index: 2; /* and place it over the hamburger */

      -webkit-touch-callout: none;
    }
    #menuToggle span
  {
    display: block;
    width: 23px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: white;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }

  #menuToggle span:first-child
  {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }

  /*
   * Transform all the slices of hamburger
   * into a crossmark.
   */
  #menuToggle input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(8px, 0px);
    background: black;
  }



  /*
   * But let's hide the middle one.
   */
  #menuToggle input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  /*
   * Ohyeah and the last one should go the other direction
   */
  #menuToggle input:checked ~ span:nth-last-child(2)
  {
    transform: rotate(-45deg) translate(5px, 5px);
  }

  /*
   * Make this absolute positioned
   * at the top left of the screen
   */
  #menu
  {
    position: absolute;
    width: 250px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;

    background: rgba(255,255,255,0.9);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  #menu li
  {
    padding: 10px 0;
    font-size: 22px;
  }

  /*
   * And let's slide it in from the left
   */
  #menuToggle input:checked ~ ul
  {
    transform: none;
  }
     .nav {
       height: 500px;
      z-index: 2;
       color: black;
     }
     .nav ul {
       padding: 0 0 0 10px;
     }
     .nav a{
       color: black;
       text-decoration: none;
       font-size: 18px;

     }
     .nav-list {

       margin: 0 0 20px 0;
       list-style: none;
       line-height: 3rem;
     }




     .socials-grid {
       width: 40%;
       margin-left: 10px;
       display: grid;
       grid-template-columns: repeat(3 ,1fr);
       grid-gap: 5px;
     }


     .grid-item img {
       width: 20px;
       height: 20px;
     }
}
